.container{
    background-color: white;
    align-items: center;
    color: black;
    margin-left: 46%;
    margin-right: 30%;
}

.heading{
    font-weight: 200;
}

.container-font {
    font-size: larger;
}

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}

.hide{
    display: none;
}

.bg-red{
    background-color: red;
}