@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
/* cascading style sheet */
/* three types  */
/* 
inline css 
internal css 
external css  */
/* span{                          //element 
    property : property_name;
}

.className {
    property : property_name;
}

#id {
    property : property_name;
}

input[type=="text"]{
    property : property_name;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.animal{
    border: 5px solid black;
    margin-top: 50px;
    padding: 50px;
}

table{
    background-color: tomato;
}
.table_heading{
    color: black;
    font-weight: 700;
}

table tr td{
    color: black;
    font-weight: 100;
}

.animal_heading{
    font-weight: 700;
    margin : 5% 3% 0 5%;
    font-size: 3rem;
    /* background-color: tomato; */
    /* background-color: #ff8000; */
    /* background-color: rgb(255,255,255); */
    /* background: #3d164b; */
    color: rgb(14, 0, 142);
    background-image: linear-gradient(to right,orange,white,green);
    /* background-image:radial-gradient(orange, white, green) */
    /* background-image: url("../img/lion.jpg") */

    /* background-color: rgba(0, 191, 255,1) */

}

h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.heading{
    text-align: center;
    color: darkred;
    font-size: 5rem;

}

.animal-img{
        margin-left: 30%;
        margin-right: 30%;
}

/* two types of units  */
/* non-responsive */

/* px */
/* cm  */
/* inch */
/* mt  */




/* responsive */
/* %  */
/* vh  viewport height*/
/* vw  viewport width*/
/* em  */
/* rem  */


/* .myname{
    background-color: rgb(208 204 204);
    width: 100px;
    height: 50vh;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 4%;
    margin-right: 4%;

    border-radius: 10px;
} */

    /* em - is 10 times of current element font size */
    /* rem - is 10 times of root element font size */


/* p{

    font-size: 10px;
    width: 20em;
    height: 20vh;
    border: 5px solid red;

} */
/* a{
    font-size: 2rem;
    display: block;
} */

p{
    font-size: 1.5rem;
}
/* .box{
    width: 80rem;
    height: 30rem;
    background-color: red;
} */
.container{
    display: inline-block;
}
.box1{
    height: 100vh;
    width: 300px;
    background-color: dodgerblue;
    /* margin-bottom: 10px; */
}

.box2{
    /* margin-top: 20px; */
    height: 300px;
    width: 300px;
    background-color: tomato;
}

.nav-link{
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
}


a:link{
    background-color: rgb(149, 174, 106);
    color: white;
}
a:hover{
    background-color: tomato;
    color: white;
}
a:active{
    background-color: black;
}

a:visited{
    color: white;
}
span:first-child{
    border: 1px solid red;
}

p::first-letter{
    font-size: 4rem;
}

p::after{
    content: "name";
}
h1::before{
    content: "About ";
}
h1::after{
    content: "s";
}
/* span:not(a){
    border: 10px solid red;
} */

/* :root{
    background-color: yellow;
} */

/* div:empty{
    width: 30rem;
    height: 30rem;
    background-color: coral;
    border: 1px solid red;
} */
hr{
    width: 500px;
    margin-left: 10px;
    /* border: 1px solid red; */
}
.new-box{
    width: 50rem;
    height: 20rem;
    background-color: coral;
    border: 10px solid blue;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

